* {
  margin: 0;
}

body {
  background-color: lightblue;
  font-family: calibri;
}

p, h1, h2 {
  margin: 10px;
}

ul.navbar {
  position: sticky;
  align: right;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

ul.navbar li.navlist {
  float: left;
  border-right: 1px solid #e7e7e7;
}

ul.navbar li.navlist:last-child {
  border-right: none;
  border-left: 1px solid #e7e7e7;
}

ul.navbar li.navlist a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li.navlist a#active {
  color: white;
  background-color: #4CAF50;
}

ul.navbar li.navlist a:hover:not(#active) {
  background-color: #ddd;
}

img {
  display: block;
  margin: 25px;
  width: 25%;
  border-radius: 8px;
}

section {
  display: flex;
}

aside {
  flex: 1
}

article {
  flex: 4;
}
